{% extends "base.html" %}
{% block body %}
<main>
  <section class="section-container" id="course-container">
  <div class="section-content" id="course-content">
    <aside id="course-sidebar">
      <div id="sidebar-title">Lessons</div>
        <!-- A list of all the lessons in this course -->
        <a class="lesson-card" href="/react/1">1. Introduction</a>

        <a class="lesson-card" href="/react/2">2. Fundamental Theory</a>

        <a class="lesson-card" href="/react/3">3. Functional Components</a>

        <a class="lesson-card" href="/react/4">4. Class-Based Components</a>

        <a class="lesson-card" href="/react/5">5. Prop System</a>

        <a class="lesson-card" href="/react/6">6. States</a>

    </aside>
      <article id="course-lesson">
        {% block article %}
        {% endblock %}
      </article>
  </div>
  </section>
</main>
{% endblock %}
