{% extends "base.html" %}
{% block body %}
<main>
  <section class="section-container" id="course-container">
  <div class="section-content" id="course-content">
    <aside id="course-sidebar">
      <div id="sidebar-title">Lessons</div>
        <!-- A list of all the lessons in this course -->
        <a class="lesson-card" href="/html/1">1. Introduction</a>

        <a class="lesson-card" href="/html/2">2. Basic Setup</a>

        <a class="lesson-card" href="/html/3">3. Basic Tags 1</a>

        <a class="lesson-card" href="/html/4">4. Basic Tags 2</a>

        <a class="lesson-card" href="/html/5">5. Styling 1</a>

        <a class="lesson-card" href="/html/6">6. Styling 2</a>

        <a class="lesson-card" href="/html/7">7. Basic Layout</a>

        <a class="lesson-card" href="/html/8">8. Stylesheets</a>

        <a class="lesson-card" href="/html/9">9. Classes</a>

        <a class="lesson-card" href="/html/10">10. IDs</a>

        <a class="lesson-card" href="/html/11">11. UTF-8 Characters</a>

        <a class="lesson-card" href="/html/12">12. Tables and Iframes</a>

    </aside>
      <article id="course-lesson">
        {% block article %}
        {% endblock %}
      </article>
  </div>
  </section>
</main>
{% endblock %}