{% extends "basehtml.html" %}
{% block title %}2. Basic Setup{% endblock %}
{% block article %}
<h1 class="top-head">2. Basic Setup</h1>
<h2 class="sub-head">2.1 What are HTML Tags</h2>
<p class="text-style">Tags are the building blocks of all
  websites written in HTML. Without them, the actual
  code couldn't be interpreted.
   Different tags are used for certain
   circumstances, in order to help the web developer give meaning
   to certain parts of their website.
   For example, the <span id='code-style'>&lt;p>&lt;/p></span> tag,
   is used to wrap paragraphs of text, in order to help give a standardised
   design across the website. In fact, this text you're
   reading right now, is wrapped in a paragraph tag.
</p>
<p id='text-style'>Some common tags
  include <span id='code-style'>&lt;p></span>,
  <span id='code-style'>&lt;html></span>,
  <span id='code-style'>&lt;body></span>,
  <span id='code-style'>&lt;head></span>,
  <span id='code-style'>&lt;h1></span> and
  <span id='code-style'>&lt;title></span>
<br>We will be covering many of these throughout this course</p>
<hr class="art-div">

<h2 class="sub-head">2.2 Viewing a HTML file locally</h2>
<p class="text-style">
   For starters, you will need to create a HTML file. If you
   are using any of the text editors mentioned in lesson 1,
   you will just need to create a file, within your project folder.
   Suitable tutorials for each of these programs can be found
   on their websites.
</p>

<p class="text-style">
   When creating a HTML file, the main thing to remember
   is getting the file extention right. When you name a HTML file,
   you need to add <em>.html</em> to the end.</p>

<p class="text-style">I am using atom so the following images of the above
   process will be specific to atom, however, it should be almost identical
   for any text editor (sublime text, visual studio etc). Firstly, go to
   your text editor and create a new file.</p>
<img src="https://drive.google.com/uc?export=view&id=14OuXok5rxyIgNyjvJYtOns7Kpg8CW3PF"
alt="html-image">
<p class="text-style">Next, save that file in your project folder (it can be
    anywhere you want). When you save the file, remember to add <em>.html</em>
    to the end.</p>
<img src="https://drive.google.com/uc?export=view&id=1i814gFyeJB57FhZCj9Puqg2_3_akuD21"
alt="html-image">
<p class="text-style">Now you're ready to start learning HTML!</p>
<p class="text-style">When you want to run the file, you simply have to open it
   with chrome.</p>
<img src="https://drive.google.com/uc?export=view&id=1o0TdXEVzOn5M5BJEg7OUHKuBETX9d2VT"
alt="html-image">
<p class="text-style">Because the file currently doesn't have any HTML in it,
   it will open to a blank chrome tab. However, as soon as we start coding
   and save our code, it should update when you refresh the page.</p>
{% endblock %}
