{% extends "./baseinfo.html" %}
{% block title %}13. Congratulations{% endblock %}
{% block article %}
<h1 class="top-head">13 Congratulations</h1>
<p class="text-style">Good job! You have finished my course on C++ and Informatics. How did you find the course? Would you like additional content?<br>
I may be planning to make 3 more chapters on graph theory, so contact me if you are interested.<br></p>
<p>Please dm me on Discord: <pre class="code-style"><code class="Discord">Ryno#6737</code></pre><br>
If you haven't yet joined our <a class="link-style" href="https://discord.gg/VE4WEdM">Discord server</a>, please do so :D</p>
<p class="text-style">If you enjoy informatics, continue doing ORAC problems! Additionally, see CLIST for upcoming <a class="link-style" href="https://clist.by/">contests</a> and <a class="link-style" href="https://clist.by/resources/">helpful resources</a>.</p>
{% endblock %}