{% extends "./baseinfo.html" %}
{% block title %}4. Control Statements{% endblock %}
{% block article %}
<h1 class="top-head">4 Control Statements</h1>
<h2 class="sub-head">4.1 Conditionals</h2>
<p class="text-style">Boolean data types are declared with the <span class="code-style">bool</span> keyword, and can take only the value <span class="code-style">true</span> or <span class="code-style">false</span>.<br>
For example:</p>
<pre class="code-style"><code class="c++">bool isProgrammingGood = true;
bool amIBored = false;</code></pre>
<p class="text-style">You can use this to compare integers. The following operators take 2 integers and output a boolean</p>
<pre class="code-style"><code class="c++">cout &lt;&lt; (1 == 1) &lt;&lt; "\n"; // is 1 equals to 1? 
cout &lt;&lt; (3 > 4) &lt;&lt; "\n"; // is 3 more than 4?
cout &lt;&lt; (10 >= 9) &lt;&lt; "\n"; // is 10 more than or equal to 9?
cout &lt;&lt; (2 != 5) &lt;&lt; "\n"; // is 2 not equals to 5?
</code></pre>
<p class="text-style"><b>Some further conditions</b></p>
<table style="width:300px">
	<tr>
		<td><span class="code-style"><code class="c++">x || y</span></td>
		<td><p class="text-style">Is x true or is y true?</p></td>
	</tr>
	<tr>
		<td><span class="code-style"><code class="c++">x && y</span></td>
		<td><p class="text-style">Is both x and y true?</p></td>
	</tr>
	<tr>
		<td><span class="code-style"><code class="c++">!x</span></td>
		<td><p class="text-style">Is x not true? Or equivalently, is x false?</p></td>
	</tr>
</table>
<p class="text-style">For example:</p>
<pre class="code-style"><code class="c++">bool canDrive = (age >= 16) && (hasLplate || hasPplate || hasLicense) && !isDrunk;</code></pre>
<br>
<p class="text-style">TASK: Write a simple program to check a customer's movie ticket. It is a valid ticket if it is at least 10 minutes before the movie starts, and the customer is accompanied by an adult if he/she is less than 12 years old.</p>
<p class="text-style">HINT: <span class="hint-style">consider 2 cases: the person is less than 12 years old, the person is more than or equal to 12 years old</p>
<p class="text-style">SOLUTION:</p>
<span class="hint-style"><pre class="code-style"><code class="c++">bool valid = (time <= startTime - 10) && ((age < 12 && accompanied) || age >= 12);</code></pre></span>
<hr class="art-div">














<h2 class="sub-head">4.2 If Statements</h2>
<p class="text-style">If statments allow the program to execute certain code when a condition is met. It must consist of the <span class="code-style">if</span> keyword, followed by the condition in parentheses. For example:</p>
<pre class="code-style"><code class="c++">if (isRainy) {
	// bring an umbrella
}
else if (isCoronavirus) {
	// wear a mask
}
else if (isCold) {
	// wear a jumper
}
else {
	// wear a hat
}
</code></pre>
<p class="text-style">NOTE: only 1 of these actions will be done. (i.e. if <span class="code-style">isRainy == true</span>, the code does not consider any following options).</p>
<p class="text-style">NOTE: you can only use the <span class="code-style">else if</span> or <span class="code-style">else</span> keyword after you have used the <span class="code-style">if</span> keyword</p>
<hr class="art-div">


<h2 class="sub-head">4.3 While Loops</h2>
<p class="text-style">A while loop executes statements repeatedly until the given condition evaluates to false. While loops are used when it is not currently known how many times a block of code is to be executed. For example:</p>
<pre class="code-style"><code class="c++">int i = 0;
while (i < 10) {
	cout &lt;&lt; i &lt;&lt; " ";
	++i; // Increment counter
}
</pre></code>
<p class="text-style">What is the output of the program?</p>
<p class="text-style">ANSWER: <span class="hint-style"><span class="code-style">0 1 2 3 4 5 6 7 8 9</span><br>10 was not printed, because when <span class="code-style">i = 10</span>, the condition <span class="code-style">(i < 10)</span> will be false, and the while loop will terminate</span></p>
<p class="text-style">It is very important to be able to reason about what your code will do! When your code is doing something unexpected, you can look at what you expect it to do, compared to what it is actually donig. This is called debugging! (Removing bugs/problems with your code).</p>
<br>
<p class="text-style">TASK: write a program to accept integer inputs until it encounters <span class="code-style">0</span>. Then print the sum of the integer inputs.</p>
<p class="text-style">ANSWER:</p>
<span class="hint-style"><pre class="code-style"><code class="c++">int num;
int total = 0;
cin >> num;
total += num;
while (num != 0) {
	cin >> num;
	total += num;
}
cout << "The sum is " << total;</code></pre></span>
<hr class="art-div">


<h2 class="sub-head">4.4 For Loops</h2>
<p class="text-style">A for loop allows you execute code several times (or perhaps infinitely). Before the loop, the <span class="code-style">initialisation statement</span> is executed once. Then, while the <span class="code-style">condition</span> is true, for loop executes loop body. After each iteration, the <span class="code-style">iteration execution</span> part is executed. </p>
<pre class="code-style"><code class="c++">for (/*initialisation statement*/; /*condition*/; /*iteration execution*/) {
	// loop body
}</code></pre>
<p class="text-style"><b>initialisation statement</b> This statement gets executed only once, at the beginning of the for loop.</p>
<p class="text-style"><b>condition</b> This statement gets evaluated ahead of each loop body execution, and aborts the loop if it evaluates to false.</p>
<p class="text-style"><b>loop body</b> The code when you want to get run repeatedly.</p>
<p class="text-style"><b>iteration execution</b> This statement gets executed after the loop body, ahead of the next condition evaluation. You can enter multiple statements in the iteration execution part, such as <span class="code-style">a++, b+=10, c=b+a</span>.</p>
<p class="text-style">TASK: Write code to print integers from 0 to 9 (inclusive) using a for loop?</p>
<p class="text-style">ANSWER:</p>
<span class="hint-style"><pre class="code-style"><code class="c++">for (int i = 0; i < 10; i++) {
	cout << i << " ";
}</code></pre></span>
<p class="text-style">NOTE: do not use the variable <span class="code-style">i</span> outside the loop. It only "exists" inside the loop.</p>
<hr class="art-div">


<h2 class="sub-head">4.5 Homework</h2>
<p class="text-style"><a class="link-style" href="https://orac2.info/problem/simpletaktak/">The Tremendous Tak-Tak Tree</a><br>
HINT: <span class="hint-style">There is a walkthrough <a class="link-style" href="http://orac.amt.edu.au/aioc/tutorials/walkthroughs/05.html">here</a>, although they do file input differently.</p>
<p class="text-style"><a class="link-style" href="https://orac2.info/problem/simplecount/">Counting To Infinity</a><br>
HINT: <span class="hint-style">There is a walkthrough <a class="link-style" href="http://orac.amt.edu.au/aioc/tutorials/walkthroughs/06.html">here</a>, although they do file input differently.</p>
<p class="text-style"><a class="link-style" href="https://orac2.info/problem/simplestats/">A Dish Best Served Cold</a><br>
HINT: <span class="hint-style">There is a walkthrough <a class="link-style" href="http://orac.amt.edu.au/aioc/tutorials/walkthroughs/07.html">here</a>, although they do file input differently.</p>
<p class="text-style"><a class="link-style" href="https://orac2.info/problem/simpledrought/">Drought</a><br>
HINT: <span class="hint-style">There is a walkthrough <a class="link-style" href="http://orac.amt.edu.au/aioc/tutorials/walkthroughs/08.html">here</a>, although they do file input differently.</p>
{% endblock %}