{% extends "base.html" %}
{% block body %}
<main>
  <section class="section-container" id="course-container">
  <div class="section-content" id="course-content">
    <aside id="course-sidebar">
      <div id="sidebar-title">Lessons</div>
        <!-- A list of all the lessons in this course -->
        <a class="lesson-card" href="/informatics/1">1. Introduction</a>

        <a class="lesson-card" href="/informatics/2">2. Orac</a>

        <a class="lesson-card" href="/informatics/3">3. Numbers</a>

        <a class="lesson-card" href="/informatics/4">4. Control Statements</a>

        <a class="lesson-card" href="/informatics/5">5. Algorithms Introduction</a>

        <a class="lesson-card" href="/informatics/6">6. Arrays</a>

        <a class="lesson-card" href="/informatics/7">7. Functions</a>

        <a class="lesson-card" href="/informatics/8">8. Prefix and Suffix Sums</a>

        <a class="lesson-card" href="/informatics/9">9. Data Structures</a>

        <a class="lesson-card" href="/informatics/10">10. Binary Search</a>

        <a class="lesson-card" href="/informatics/11">11. 1-Dimensional Dynamic Programming</a>

        <a class="lesson-card" href="/informatics/12">12. Advanced Dynamic Programming</a>

        <a class="lesson-card" href="/informatics/13">13. Congratulations</a>
        

    </aside>
      <article id="course-lesson">
        {% block article %}
        {% endblock %}
        <hr class="art-div">
        <a href="/informatics/{{ prev }}" class="link-style" style="{% if prev < 1 %}display: none{% endif %}";>Previous</a>
        <a href="/informatics/{{ next }}" class="link-style" style="text-align: right; float: right;{% if next > 13 %}display: none{% endif %}";>Next</a>

      </article>
  </div>
  </section>
</main>
{% endblock %}