{% extends "base.html" %}
{% block body %}
<main>
  <section class="section-container" id="course-container">
  <div class="section-content" id="course-content">
    <aside id="course-sidebar">
      <div id="sidebar-title">Folders</div>
        <!-- A list of all the lessons in this course -->
        <a class="lesson-card" href="/e1maths/1">1. Past Papers</a>

        <a class="lesson-card" href="/e1maths/2">2. Solutions</a>

        <a class="lesson-card" href="/e1maths/3">3. Textbooks</a>

        <a class="lesson-card" href="/e1maths/4">4. Miscellaneous</a>

        <a class="lesson-card" href="/hsc">BACK</a>
    </aside>
      <article id="course-lesson">
        {% block article %}
        {% endblock %}
      </article>
  </div>
  </section>
</main>
{% endblock %}
