{% extends "base.html" %}
{% block body %}
<main>
  <section class="section-container" id="course-container">
  <div class="section-content" id="course-content">
    <aside id="course-sidebar">
      <div id="sidebar-title">Lessons</div>
        <!-- A list of all the lessons in this course -->
        <a class="lesson-card" href="/python/1">1. Introduction</a>

        <a class="lesson-card" href="/python/2">2. Strings</a>

        <a class="lesson-card" href="/python/3">3. Basics</a>

        <a class="lesson-card" href="/python/4">4. Arithmetic operators</a>

        <a class="lesson-card" href="/python/5">5. Logical operators</a>

        <a class="lesson-card" href="/python/6">6. Booleans and Further Logic</a>

        <a class="lesson-card" href="/python/7">7. Loops</a>

        <a class="lesson-card" href="/python/8">8. Additional Loops</a>

        <a class="lesson-card" href="/python/9">9. Lists and Tuples</a>

        <a class="lesson-card" href="/python/10">10. Dictionaries</a>

        <a class="lesson-card" href="/python/11">11. Files</a>

        <a class="lesson-card" href="/python/12">12. Libraries</a>

        <a class="lesson-card" href="/python/13">13. More Libraries</a>

        <a class="lesson-card" href="/python/14">14. Functions</a>

    </aside>
      <article id="course-lesson">
        {% block article %}
        {% endblock %}
        <hr class="art-div">
        <a href="/python/{{ prev }}" class="link-style" style="{% if prev < 1 %}display: none{% endif %}";>Previous</a>
        <a href="/python/{{ next }}" class="link-style" style="text-align: right; float: right;{% if next > 14 %}display: none{% endif %}";>Next</a>

      </article>
  </div>
  </section>
</main>
{% endblock %}
