{% extends "base.html" %}
{% block title %}Core: About{% endblock %}
{% block body %}
<main>
<article id="course-lesson" class="about-content-container">
<h1 class="about-title">Contact Us</h1>
<p class="about-para" id="text-style">
  We're a team of students creating programming resources
  and opportunities for other students.<br>
  Make sure to join our discord server <a class="about-link" href="https://discord.gg/2d27eyG">here</a> to meet others
  who want to learn how to code and to get help with your programming
  projects!
</p>
<p class="about-para" id="text-style">
  We greatly appreciate feedback and suggestions for new courses!<br>
  Please fill out the form below if you have any thoughts or suggestions! Alternatively, you can email us at high.core.robotics@gmail.com
<br>
</p>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfanH93PRjQdDJfIcSEXipogAX2GOWPc2I8B_31nLtLlf-xBA/viewform?embedded=true" class="contact-form-google" height="677" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</article>
</main>
{% endblock %}