{% extends "base.html" %}
{% block title %}Core: Courses{% endblock %}
{% block body %}
<section class="section-container" id="courses-container">
  <div class="section-content" id="courses-content">
    <ul id="flex-container">
      <li class="course-box">
    <div id="course-cards">
      <div class="course-card">
        <img
          src="{{ url_for('static', filename='images/python-logo.png') }}"
          alt="Python"
          id="course-image-container"
          class="pypic"
        />
        <!-- <div class="course-card-title">Python Fundamentals</div> -->
        <div class="course-card-desc">
          Learn the basics of the python programming language with our
          simple step-by-step tutorials.
        </div>
        <div class="course-card-button-container">
          <a href="/python/1" class="course-card-button"
            >Start</a
          >
        </div>
      </div>
    </div>
  </li>
  <li class="course-box">
    <div id="course-cards">
      <div class="course-card">
        <img
          src="./static/images/html-logo.png"
          alt="HTML"
          id="course-image-container"
        />
        <!-- <div class="course-card-title">Python Fundamentals</div> -->
        <div class="course-card-desc">
          Make your own website with our articles and
          tutorials on HTML and CSS.
        </div>
        <div class="course-card-button-container">
          <a href="#" class="course-card-button"
            >Upcoming</a
          >
        </div>
      </div>
    </div>
  </li>
  <li class="course-box">
<div id="course-cards">
  <div class="course-card">
    <img
      src="{{ url_for('static', filename='images/react-logo.png') }}"
      alt="React"
      id="course-image-container"
      class="react-image"
    />
    <!-- <div class="course-card-title">Python Fundamentals</div> -->
    <div class="course-card-desc">
      Built user interfaces and applications with React, an open
      source Javascript library
    </div>
    <div class="course-card-button-container">
      <a href="#" class="course-card-button">Upcoming</a>
    </div>
  </div>
</div>
</li>
    </ul>
  </div>
</section>
{% endblock %}