{% extends "basecsharp.html" %}
{% block title %}4. Decisions{% endblock %}
{% block article %}
<h1 id="top-head">4. Decisions</h1>
<h2 id="sub-head">4.1 If statement</h2>
<p id="text=style">If statements compare multiple value and output
   true or false. The syntax for an if statement is as follows:</p>
<pre id="code-style"><code class="C#">if (condition)
{
  // block of code to be executed if the condition is True
}</code></pre>
<p id=text-style>Comparison Operators:
<ul style="margin-left: 1rem;">
  <li>Less than: a < b</li>
  <li>Less than or equal to: a <= b</li>
  <li>Greater than: a > b</li>
  <li>Greater than or equal to: a >= b</li>
  <li>Equal to a == b</li>
  <li>Not Equal to: a != b</li>
</ul>
</p>
<p id="text-style">Logical operators:</p>
<img src="https://drive.google.com/uc?export=view&id=1qmyBP4FHYu9KsLbTPGkbAOcQpCRacNej"
alt="csharp-image">
<p id="text-style">Indentation is not significant in C#,
  because when the code is being compiled, C# converts everything
  into one line, and determines new statements by the semi colons
  (this is why we need to include semi colons at the end of each line.</p>
{% endblock %}