{% extends "./basehtml.html" %}
{% block title %}1. Introduction{% endblock %}
{% block article %}
<h1 class="top-head">1. Introduction</h1>
<h2 class="sub-head">1.1 Introduction to HTML</h2>
<p class="text-style">HTML (Hyper Text Markup Language) is currently the industry
   standard for building websites.
</p>
<p class="text-style">On it's own, it is only capable of building
   mostly static websites, however, when combined with other languages, such as
    CSS, javaScript and PHP, much more complex and interactive websites can be built</p>
<p id='text-style'>In this course, we will be teaching basic HTML and CSS so that
  you can build websites yourself</p>

<hr class="art-div">
<h2 class="sub-head">1.2 Before you get started</h2>
<p class="text-style">Before you can get started with this course, you will need a few things,
   some of which, you hopefully already have.</p>
   <p class="text-style">You will need: </p>
   <p id='text-style'>
   <ul style='margin-left: 1rem;'>
      <li>A fast Web Browser (Preferably Chrome or Chromium based)</li>
      <li>A Text Editor (Programs such as
      <a href="https://atom.io/" class="link-style">Atom</a>,
      <a href="https://www.sublimetext.com/3" class="link-style">Sublime
      Text</a> or <a href="https://visualstudio.microsoft.com/"
      class="link-style">Visual Studio</a> are suggested)</li>
      <li>Willingness to learn</li>
      <li>A Method for storing notes (For most people, writing notes can help with the retention of learnt information)</li>
   </ul>
</p>
<hr class="art-div">
<h2 class="sub-head">1.3 Course goals</h2>

<p class="text-style">By the end of this course, we hope to equip you with
  the skills required to read and write HTML and CSS and gain an understanding of basic web design concepts. If the content is getting
  too difficult, make sure to look back on previous content and revise our
  articles regularly.</p>
<p class="text-style">I hope you have a great time learning HTML!</p>
{% endblock %}
