{% extends "./baseinfo.html" %}
{% block title %}3. Numbers{% endblock %}
{% block article %}


<h1 id="top-head">3 Numbers</h1>
<h2 id="sub-head">3.1 Declaration & initialisation</h2>
<p id="text-style">When declaring, you need to specify the variable type and the variable name.</p>
<pre id="code-style"><code class="c++">int x;</pre></code>
<p id="text-style">When initialising, you assign a value to the variable using <span id="code-style">=</span> (Note: this is different to the way it is used in maths)</p>
<pre id="code-style"><code class="c++">x = 1;</pre></code>
<p id="text-style">or more succinctly</p>
<pre id="code-style"><code class="c++">int x = 1;</pre></code>
<p id="text-style">Another way to initialise a variable is from user input:</p>
<pre id="code-style"><code class="c++">cin >> x;</pre></code>
<p id="text-style">Note that you have to declare a variable before you initialise it.</p>
<hr id="art-div">


<h2 id="sub-head">3.2 Display (cout)</h2>
<p id="text-style">Displaying a number is similar to displaying text in Sup World</p>
<pre id="code-style"><code class="c++">cout << 1</pre></code>
<p id="text-style">You can also display a space</p>
<pre id="code-style"><code class="c++">cout << " ";</pre></code>
<p id="text-style">or display a new line</p>
<pre id="code-style"><code class="c++">cout << "\n";</pre></code>
<p id="text-style">or display multiple things on a single line</p>
<pre id="code-style"><code class="c++">cout << "Sup to " << x << " worlds" << "\n";</pre></code>
<hr id="art-div">


<h2 id="sub-head">3.3 Number Variable Types</h2>
<p id="text-style">To store a number in programming, you typically use an <span id="code-style">int</span>. If you an extra long number, use <span id="code-style">long long</span> (hahaha funny joke). If you have decimal, use <span id="code-style">double</span> or <span id="code-style">long double</span>. All of these can do the same operations, so for brevity I will only demonstrate its usage using only <span id="code-style">int</span></p>

<p id="text-style"><b>Operators</b></p>
<table style="width:100%">
	<tr>
		<td><pre id="code-style"><code class="c++">x * y</pre></code></td>
		<td><p id="text-style">multiplication</p></td>
	</tr>
	<tr>
		<td><pre id="code-style"><code class="c++">x / y</pre></code></td>
		<td><p id="text-style">division<br>for <span id="code-style">int</span> and <span id="code-style">long long</span>, the output of division is rounded down to the nearest integer</p></td>
	</tr>
	<tr>
		<td><pre id="code-style"><code class="c++">x + y</pre></code></td>
		<td><p id="text-style">addition</p></td>
	</tr>
	<tr>
		<td><pre id="code-style"><code class="c++">x++</pre></code></td>
		<td><p id="text-style">increment x by 1 (i.e. x = x + 1)<br>see <a id="link-style" href="https://www.geeksforgeeks.org/pre-increment-and-post-increment-in-c/">here</a> if you’re interested in the differences between <span id="code-style">x++</span> and <span id="code-style">++x</span></p></td>
	</tr>
	<tr>
		<td><pre id="code-style"><code class="c++">x += y</pre></code></td>
		<td><p id="text-style">increment x by y (i.e. x = x + y)</p></td>
	</tr>
	<tr>
		<td><pre id="code-style"><code class="c++">x - y</pre></code></td>
		<td><p id="text-style">subtraction</p></td>
	</tr>
	<tr>
		<td><pre id="code-style"><code class="c++">x--</pre></code></td>
		<td><p id="text-style">decrement x by 1 (i.e. x = x - 1)<br>see <a id="link-style" href="https://www.geeksforgeeks.org/pre-increment-and-post-increment-in-c/">here</a> if you’re interested in the differences between <span id="code-style">x--</span> and <span id="code-style">--x</span></p></td>
	</tr>
	<tr>
		<td><pre id="code-style"><code class="c++">x -= y</pre></code></td>
		<td><p id="text-style">decrement x by y (i.e. x = x + y)</p></td>
	</tr>
	<tr>
		<td><pre id="code-style"><code class="c++">x % y</pre></code></td>
		<td><p id="text-style">modulus, take the remainder when x is divided by y (only applies to <span id="code-style">int</span> and <span id="code-style">long long</span>)</p></td>
	</tr>
</table>
<br>
<p id="text-style">The order of operations is consistent with BODMAS, and is computed form left to right:</p>
<pre id="code-style"><code class="c++">cout << 2 + 13 * 5 + 2 << "\n";
cout << (2 + (13 * 5) ) + 2 << "\n"</pre></code>
<p id="text-style">If you are interested, <a id="link-style" href="https://en.cppreference.com/w/cpp/language/operator_precedence">here</a> is a comprehensive list of operations and the operator precedence</p>
<hr id="art-div">


<h2 id="sub-head">3.4 Homework</h2>
<p id="text-style"><a id="link-style" href="https://orac.amt.edu.au/cgi-bin/train/problem.pl?problemid=628">NORT</a><br>
<a id="link-style" href="https://orac.amt.edu.au/cgi-bin/train/problem.pl?problemid=852">Snap Dragons II</a><br></p>
<p id="text-style">
HINT 1: <span id="hint-style">Try many possible initial configurations, and try to find a pattern from there.</span><br>
HINT 2: <span id="hint-style">The size of grid does not matter.</span><br>
HINT 3: <span id="hint-style">It has something to do with the distance between Rose and Scarlet</span>
</p>
{% endblock %}