{% extends "./baseinfo.html" %}
{% block title %}9. Pointers & References & Iterators{% endblock %}
{% block article %}
<h1 id="top-head">9 Pointers & References & Iterators</h1>
<h1 id="sub-head">9.1 Pointers</h1>
<hr id="art-div">

<h1 id="sub-head">9.2 References</h1>
<hr id="art-div">

<h1 id="sub-head">9.3 Iterators</h1>
<hr id="art-div">

<h2 id="sub-head">9.4 #include &lt;algorithm></h2>
<p id="text-style">The <a id="link-style" href="http://www.cplusplus.com/reference/algorithm/">algorithm library</a> contains many helpful algorithms.</p>
<hr id="art-div">

<h1 id="sub-head">9.5 Homework</h1>
{% endblock %}