{% extends "./baseinfo.html" %}
{% block title %}12. 2-Dimensional Dynamic Programming{% endblock %}
{% block article %}
<h1 id="top-head">12 2-Dimensional Dynamic Programming</h1>
<h2 id="sub-head">12.? Template</h2>
<b>1. Define subproblems</b>
<b>2. Define recurrance relation</b>
<b>3. Order of computation</b>
<b>4. Recognise base cases</b>
<b>5. Implementation</b>
<hr id="art-div">

<h2 id="sub-head">12.4 Homework</h2>
<p id="text-style"><a id="link-style" href="https://orac.amt.edu.au/cgi-bin/train/problem.pl?problemid=116">Bouncy Ball</a><br>
HINT: <span id="hint-style"></span></p>
<p id="text-style"><a id="link-style" href="https://orac.amt.edu.au/cgi-bin/train/problem.pl?problemid=313">Graffiti</a><br>
HINT: <span id="hint-style"></span></p>
<p id="text-style"><a id="link-style" href="https://orac.amt.edu.au/cgi-bin/train/problem.pl?problemid=926">Pyramid Cake</a><br>
HINT: <span id="hint-style"></span></p>
{% endblock %}
