{% extends "./baseinfo.html" %}
{% block title %}13. Congratulations{% endblock %}
{% block article %}
<h1 id="top-head">13 Congratulations</h1>
<p id="text-style">Good job! You have finished my course on C++ and Informatics. How did you find the course? Would you like additional content?<br>
I may be planning to make 3 more chapters on graph theory, so contact me if you are interested.<br>
Please dm me on Discord: <pre id="code-style"><code class="Discord">Ryno#6737</code></pre> or email me at: <pre id="code-style"><code class="Email">ryan.ong@student.sbhs.nsw.edu.au</code></pre><br>
If you haven't yet joined our <a id="link-style" href="https://discord.gg/VE4WEdM">Discord server</a>, please do so now. We are providing help if you are stuggling with our courses, or if you would like a hint for any of the problems / homework. We are usually available at least once every 2 days.</p>
<p id="text-style">If you enjoy informatics, continue doing ORAC problems! Additionally, see CLIST for upcoming <a id="link-style" href="https://clist.by/">contests</a> and <a id="link-style" href="https://clist.by/resources/">helpful resources</a>.</p>
{% endblock %}