{% extends "base.html" %}
{% block title %}Puzzles{% endblock %}
{% block body %}
<main>
<article id="course-lesson" class="about-content-container">
<h1 class="about-title">Puzzles</h1>
<p class="about-para">
  Welcome to Puzzles by CORE! We'll be posting weekly puzzles here.
  The solutions will be revealed a week after the problem is released
  and will always be in python. However, you can use whichever languages
  you are most comfortable with.<br>
  The problems will range in difficulty on a scale from 1-10. If you're
  finding past questions too difficult, we recommend trying easier ones!
</p>
</article>
</main>
{% endblock %}
