{% extends "base.html" %}
{% block title %}Core: Solution 1{% endblock %}
{% block body %}
<main>
<style media="screen">
  table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: center;
  }
  th {
    background: black;
    color: white;
  }
  a {
    text-decoration: none;
    color: rgb(33, 33, 32);
    line-height: 1.38;
    font-size: 12pt;
  }
</style>
<article id="course-lesson" class="about-content-container">
<h1 class="about-title">Solution 1</h1>
<p class="about-para">
  Check back next Saturday for the solution!
</p>
</article>
</main>
{% endblock %}
