{% extends "./basepy.html" %}
{% block title %}1. Introduction{% endblock %}
{% block article %}
<h1 class="top-head">1. Introduction</h1>
<h2 class="sub-head">1.1 Basics</strong></span></h2>
<p class="text-style">Hi, I&rsquo;m Dhruv and I created CORE as a way to provide
   students with programming opportunities! CORE currently has several programs
   and courses aimed at and run by high school students in areas like
   game making, web development and 3D-Modelling.</p>
<p class="text-style">All of the tutorials and articles on this website are
   free to use!. Additionally, we have a discord server for everyone, whether
   you have programming queries, want to start a project with others,
   write your own articles for our website or just want to provide
   suggestions for future content!</p>
<hr class="art-div">
<h2 class="sub-head">1.2 Introduction to python</h2>
<p class="text-style">Python is very readable programming language. It has
   simpler syntax than many other programming languages and there is a lot
   of emphasis on readability and simplicity. In recent years, python has
   grown in popularity very drastically and is now one of the most
   widely-sought languages.</p>
<hr class="art-div">
<h2 class="sub-head">1.3 Downloading python</h2>
<p class="text-style">You can download python from <a class="link-style"
   href="https://www.python.org/downloads/">python.org</a>. Make sure to
   download python 3, of which the latest version is currently python 3.8.</p>
<p class="text-style">Alternatively, you can download it from the <a class="link-style"
   href="https://www.microsoft.com/en-au/p/python-38/9mssztt1n39l?activetab=pivot:overviewtab">Microsoft store</a> if you're on windows.</p> 
<p class="text-style">After downloading it, you will get a few different
   applications such as Spyder and IDLE. If this is your first time
   programming, I recommend using IDLE because of its simplicity.</p>
<hr class="art-div">
<h2 class="sub-head">1.4 Course goals</h2>

<p class="text-style">By the end of this course, we hope to equip you with
  the skills required to read and write code in python and to gain an
  understanding of universal programming concepts. If the content is getting
  too difficult, make sure to look back on previous content and revise our
  articles regularly.</p>
<p class="text-style">I hope you have a great time learning python!</p>
{% endblock %}
