{% extends "./basereact.html" %}
{% block title %}6. States{% endblock %}
{% block article %}
<h1 class="top-head">6. States</h1>
<h2 class="sub-head">6.1 Difference between a prop and state</h2>
<p class="text-style">States are very similar to props except they have
   one important difference. Props are passed to a component whereas
   states are managed within components.</p>
<hr class="art-div">
<h2 class="sub-head">6.2 Rules of states</h2>
<ul id="list-style" style="margin-left: 1rem">
  <li>Only useable with class based components (or with
      functional components using hooks component)</li>
  <li>A state is a JS object that contains some amount of data
      that is relevant to a singular component. i.e. Only contains some
      amount of information relevant to what we want</li>
    <li>Updating state or properties will cause the component
        to almost instantly rerender</li>
    <li>States must be initialised when a component is first created</li>
    <li>States can <strong>only</strong>
        be updated using the function <strong>‘setState’</strong></li>
</ul>
<hr class="art-div">
<h2 class="sub-head">6.3 Initialising the state</h2>
<p class="text-style">The render method is required for every single component
   we make. If we don’t use render, we get an error because it
   won’t return the JSX. We can also define the <em>constructor
   function</em>, but it’s not required by react (In JS, so we use
   it for JS class). However, constructors are instantly
   called before anything else, so it’s good to put initialise
   it. [Not only method to initialize state]
   When we define it, it should be automatically called with props
   object and we also must call super(props) as it is borrowing
   functionality from React’s base class. Since we are overriding
   React.Component base class, so to make sure the constructor
   function gets called we have to use super which is a reference to
   the parent function</p>
{% endblock %}